/target
/examples/plugins/configure/target/

.zup/

/fixtures/aurora/target/
/fixtures/aurora/Cargo.lock
/fixtures/aurora/*.zupui

node_modules/

/action/.cache/
/action/coverage/

docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
